<h5>*Diretivas *ng</h5>

<article>
    <!-- 
        
<div *ngIf="listaCursos.length > 0">
    Lista de Cursos maior que 0;
   </div>
        <section>
        <div *ngIf="listaCursos.length == 0">
            Lista de Cursos igual a 0;
        </div>

        <div [hidden]="mostrarCursos">
            mostrar cursos igual a true;
        </div>

        <button (click)="adicionarCursos()">Mostrar Cursos</button>
    </section>
    <section>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" [class.active]="aba == 'home'" (click)="aba = 'home'">Home</a>
                    <a class="nav-item nav-link" [class.active]="aba == 'mapa'" (click)="aba = 'mapa'">Mapa</a>
                    <a class="nav-item nav-link" [class.active]="aba == 'lista'" (click)="aba = 'lista'">Lista</a>
                </div>
            </div>
        </nav>
        <div class="container" [ngSwitch]="aba">
            <p *ngSwitchCase="'mapa'">Modo mapa ativado</p>
            <p *ngSwitchCase="'lista'">Modo lista ativado</p>
            <p *ngSwitchDefault>Modo home ativado</p>

        </div>


    </section>

    <section>

        <ul>
            <li *ngFor="let curso of cursosFor , let i = index">
                {{ i + 1 }} - {{ curso }}

            </li>

        </ul>



    </section>


    <section>

        <h1>
            Property bind
            <i class="fa" [class.fa-folder-o]="!aberto" [class.fa-folder-open]="aberto" (click)="mudarAbertoFechado()"></i>
        </h1>


        <h1>
            ngClass
            <i class="fa" [ngClass]="{
                    'fa-folder-o':!aberto,
                    'fa-folder-open':aberto
                    
                }" (click)="mudarAbertoFechado()"></i>

        </h1>
    </section>
-->

    <section>

        <h5>Styles com property binding (style binding)</h5>
        <button [style.backgroundColor]="ativo ? 'blue' : 'gray'" [style.color]="ativo ? 'white' : 'black'" [style.fontWeight]="ativo ? 'bold' : 'normal'" [style.fontSize]="tamanhoFonte + 'px'" (click)="mudarAtivo()">
            Mudar atributo 'ativo'

        </button>
        <br />



        <input type="text" [(ngModel)]="tamanhoFonte" />

        <br />
        <button [ngStyle]="{
          backgroundColor: ativo ? 'blue' : 'gray',
          color: ativo ? 'white' : 'black',
          fontWeight: ativo ? 'bold' : 'normal',
          fontSize: tamanhoFonte + 'px'
        }" (click)="mudarAtivo()">
            Mudar atributo 'ativo'

        </button>
    </section>

</article>